/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */

 .go-top {
    position: absolute;
    top: 0;
    right:3em;
    height: 100%;
  }
  
  /* // to hide the button when page first loaded */
  .go-top:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
  }
  
  /* // fixed to right bottom of page */
  .go-top a {
    position: sticky;
    top: 88vh;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--bs-dark);
    color: var(--bs-light);
    opacity: 0.3;
  }
  
  .go-top a i, .go-top a:visited i {
    font-size: 25px;
    line-height: inherit;
  }
  .go-top a:hover, .go-top a:focus {
    opacity: 1;
  }
  
  /* ------------------------------------------------------------------- 
   * ## scroll down
   * ------------------------------------------------------------------- */
   .scroll-down {
    position: relative;
    text-align: right;
    right: 7rem;
    /* left: 50%; */
  }
  
  .scroll-down a {
    text-decoration: none;
  }